.guessed-words {
    text-align: center;
}

.guessed-words__instructions {
    font-size: 24px;
}

.highlight {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 204, 0, 0.7) 50%
    );
}

.guessed-words__group {
    animation: fadeIn 1.3s;
}

.guessed-words__table {
    border: lightgrey 1px solid;
}

th,
td {
    border: lightgrey 1px solid;
}

.guessed-words__table-head {
    background-color: #ffcc00;
}

tr {
    animation: fadeIn 1.3s;
}
